.footer__wrapper{
	background-color: $bgBlue;
	color: $txtWhite;
}

.footer__section__list{
    list-style-type: none;
}

.footer__section__list-item__title{
    font-weight: bold;
}

.footer__section__list__link{
    color: $txtWhite;
    
    &:hover{
        text-decoration: underline;
    }
}

.footer__sitemap{
    .footer__section__list__link{
        font-weight: bold;
        text-decoration: none;
    }
}

.footer__contact{
    .footer__section__list__link:hover{
        font-weight: bold;
    }
}

.footer__social{
    .footer__section__list-item{
        transition: transform 500ms ease;
        
        &:hover{
            transform: scale(1.2);
            transition: transform 500ms ease;
        }
    }
}
