.button__link{
    background-color: $bgBlue;
	text-decoration: none;
	color: $txtWhite;
	font-weight: bold;
	border-radius: 0.5em;
}

.button__link:hover{
    border: 2px solid $bgBlue;
    background-color: $txtWhite;
    color: $bgBlue;
	transform: scale(1.1, 1.1);
}