.about{
	border-bottom: 1px solid white;
}

.about__image{
    border-radius: 1em;
    border: 2px solid $bgBlue;
}

.about__list{
    list-style-type: none;
}

.about__list__link{
    color: $bgBlue;
    
    &:hover{
        font-weight: bold;
    }
}

.about__list__title{
    font-weight: bold;
}

.about__vignette{
    border: none;
    background-color: $bgBlue;
    color: $txtWhite;
    border-radius: 1em;
    
    .about__list__link{
        color: $txtWhite;
    }
    
    .about__image{
        border: 2px solid $txtWhite;
    }
}