
.header-menu{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}

.site-title{
    font-size: 1.25em;
	display: inline-block;
	margin: 0 0 0 1em;
}

.site-link{
    padding: 0.5em;
	display: inline-block;
}

.site-subtitle{
    font-size: 0.75em;
	margin-left: 1em;
}

.menu-list{
	position: absolute;
	right: 0;
	top: 0;
	margin: 0 1em 0 0;
	padding: 0;
}

.menu-list-link{
    font-size: 1.25em;
	display: inline-block;
	padding: 0.5em 0.75em;
    
    &:hover{
        z-index: 99;
    }
}

.menu-list-item{
	display: inline-block;
}
